*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000000, #ffffff);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    gap: 3px;
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: 'pointer';
    font-size: 2rem;
    border: 2px solid white;
    outline: none;
    background-color: rgba(43, 145, 255, .75);
    border-radius: 10px;
    
}

.calculator-grid > button:hover{
    background-color: rgba(43, 145, 255, .2);
}

.span-2{
    grid-column:  span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;

}

.output #first-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output #second-operand{
    color: white;
    font-size: 2.5rem;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(43, 145, 255, .75);
    text-align: center;
}